# Bot token
TELEGRAM_BOT_TOKEN=""

# Comma-separated list of user accounts id that will have access to bot
TELEGRAM_BOT_ADMIN_IDS=""

# Set to "" if no proxy required. HTTP and SOCKS5 schemas supported
TELEGRAM_BOT_PROXY=""

FREE_TURN_PROXY_INSTALLATION="/opt/free-turn-proxy"
VK_TURN_PROXY_INSTALLATION="/opt/vk-turn-proxy-legacy"
